beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.9.24
charset-normalizer==2.1.1
ConfigArgParse==1.5.3
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.1
requests==2.31.0
python-slugify==7.0.0
soupsieve==2.3.2.post1
translayer @ https://github.com/Philip-Larsen-Donnelly/translayer/archive/refs/heads/main.zip
urllib3==1.26.12
