Package: dhis2-tools
Source: dhis2-tools
Version: 1.1
Architecture: all
Maintainer: DHIS2 developers <dhis2-devs@lists.launchpad.net>
Installed-Size: 236
Depends: postgresql-client, openjdk-7-jdk,tomcat7-common (>= 7.0.26-1ubuntu1.1),netcat,libtcnative-1,makepasswd,unzip
Section: java
Priority: optional
Homepage: http://launchpad.net/dhis2
Description: Tools for managing dhis2 on ubuntu
 This package contains a set of tools to assist with
 the installation and maintenance of the dhis2 (http://dhis2.org)
 software on ubuntu server.
