<?xml version="1.0" encoding="utf-8"?>

<Server port="-1" >

  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <Service name="Catalina">
  
    <Executor name="tomcatThreadPool" namePrefix="tomcat-http-" 
           maxThreads="100" minSpareThreads="10" /> 
                    
    <Connector port="HTTPPORT" address="127.0.0.1" protocol="HTTP/1.1" proxyPort="443" scheme="https"  
        URIEncoding="UTF-8"
        executor="tomcatThreadPool" connectionTimeout="20000" />
 
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="webapps" 
            unpackWARs="true" autoDeploy="false"
            xmlValidation="false" xmlNamespaceAware="false">
      </Host>
    </Engine>
  </Service>
</Server>
